@import "../global/variables.scss";
@import "../global/mixin.scss";

.games {
    background: #e4e4e4;
    padding-bottom: 50px;
}

.games__container {
    @include grid;
    @media (max-width: 1320px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }
}

.games__title {
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
}

.games__item {
    margin: 16px 10px 0;
    display: flex;
    flex-flow: column;

    &:last-child {
        margin-right: 0;
    }
}

.games__item-title {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 1.428;
    text-align: center;
    font-weight: 200;
    width: 70%;
    margin: 20px auto;
}

.games__btn {
    display: block;
    text-align: center;
    padding: 10px 50px;
    margin: auto;
}
