.header-main {
    background: url(../img/header_bg.jpg) no-repeat center/cover;
    min-height: 726px;
}

.header__wrap {
    background: rgba(0, 0, 0, .5);
    margin-top: 10px;
}

.header-catalog__wrap {
    margin-top: 10px;
}

.header__contact {
    display: flex;
    justify-content: center;
    align-items: center;

    a, span {
        color: #ffffff;
        display: block;
    }

    &:nth-child(2) {
        margin-left: 15%;

        @media (max-width: 750px) {
            margin-left: 5%;
        }
    }

    @media (max-width: 1130px) {
        .hidden {
            display: none;
        }
    }
}

.header__contact-phone,
.header__contact-email {
    margin-right: 20px;

    @media (max-width: 660px) {
        display: none;
    }
}

.header__title,
.header__slogan {
    color: #ffffff;
    font-size: 18px;
    line-height: 2.667;
    font-weight: 400;
    text-align: center;
    margin-top: 15%;
}

.header__title {
    position: relative;
    width: 180px;
    margin: 10% auto 0;

    &:after {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        background: #ffffff;
        top: 60px;
        left: 51px;
    }
}

.header__slogan {
    margin-top: 10%;
    display: block;
    font-size: 60px;
    font-family: Poppins, sans-serif;
    line-height: 0.8;

    @media (max-width: 700px) {
        line-height: 1.6;
    }
}

.header__social-list {
    justify-content: center;
    margin-top: 60px;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        margin: 10px;

    }
}
